<?xml version="1.0" encoding="utf-8"?>
<ProjectConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <InstalledVersion>90.452.14.0</InstalledVersion>
  <DateInstalled>2019-12-10</DateInstalled>
  <InstallationSourceLocation>Y:\IFSApplicationFormsDevelopment</InstallationSourceLocation>
  <StableReleaseUpdateCenter>\\corpnet\files\f1tools</StableReleaseUpdateCenter>
  <LocalProjectRoot>C:\Users\sapdlk\Documents\NetBeansProjects\TrnExmProject</LocalProjectRoot>
  <TeamServerProjectRoot>\\cmbtrndev01\PROJECT_ROOT</TeamServerProjectRoot>
  <ItemTemplatesBaseVersion>9.0</ItemTemplatesBaseVersion>
  <DeployFilesFolder>C:\Users\sapdlk\Documents\NetBeansProjects\TrnExmProject\DeployFiles</DeployFilesFolder>
  <WorkspaceFolder>C:\Users\sapdlk\Documents\NetBeansProjects\TrnExmProject\Workspace</WorkspaceFolder>
  <ChangeLogURI>Y:\IFSApplicationFormsDevelopment\changelog90.html</ChangeLogURI>
  <DocRoot>http://wis.ifsworld.com/f1docs/apps9</DocRoot>
  <Configuration>Internal</Configuration>
</ProjectConfiguration>
