<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <system.net>
        <settings>
           <servicePointManager useNagleAlgorithm="false" expect100Continue="false"/> 
        </settings>
	<connectionManagement>
            	<add address = "*" maxconnection="10" />
	</connectionManagement>
    </system.net>
    <runtime>
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
             <probing privatePath="plugins"/>
        </assemblyBinding>
      <loadFromRemoteSources enabled="true"/> 
    </runtime>
	<!-- Uncomment to enable client side trace of network traffic -->
	<!--
    <system.diagnostics>
        <trace autoflush="true" />
        <sources>
           <source name="System.Net">
              <listeners>
                 <add name="System.Net"/>
              </listeners>
           </source>
           <source name="System.Net.Sockets">
              <listeners>
                 <add name="System.Net"/>
              </listeners>
           </source>
           <source name="System.Net.Cache">
              <listeners>
                 <add name="System.Net"/>
              </listeners>
           </source>
        </sources>
        <sharedListeners>
           <add  name="System.Net"
                 type="System.Diagnostics.TextWriterTraceListener"
                 initializeData="System.Net.trace.log"/>
        </sharedListeners>
        <switches>
           <add name="System.Net" value="Verbose" />
           <add name="System.Net.Sockets" value="Verbose" />                
           <add name="System.Net.Cache" value="Verbose" />
        </switches>
    </system.diagnostics>
	-->
</configuration>
